#homepage {
    background-image: url('/static/dunes_lg.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #D3D5D7;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }
body {
   background-color: #D3D5D7;
 }

.settings {
  margin-left: 20px
}

body .container-fluid {
    /* background-image: url('/static/icecream_lg.jpg'); */
    background-color: #D3D5D7;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    /* display: flex; */
    color: #050517
}

/* #icecream-img {
    border: solid 1px black;
    max-width:100%;
    height:auto;
} */

#line-chart {
    position: relative;
    display: flex;
    height:20vh; width:40vw
}

.alert {
  font-size: small;
  margin: auto
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

a:visited{
  color: white;
  background-color: transparent;
  text-decoration: none;
  /* border-bottom: 1px solid #b3b3b3; */
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.navbar {
  background-color: #CF5C36;
  color: white;
}

.navbar-brand{
  color: white
}