h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", serif;
  font-weight:  700;
}

body .container-fluid {
  background-image: url('/static/gradient.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: black;
  margin: auto;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 200px;
}

#homepage {
    background-image: url('/static/gradient.jpg');
    /* background-image: url('/static/dunes_lg.jpg'); */
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: black;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

#staticpages {
  background-image: url('/static/gradient.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: black;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 200px;
}

#resetpassword {
  background-image: url('/static/dunes_lg.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#loginbutton {
  display: flex;
  justify-content: flex-end
}

body {
   /* background-color: #D3D5D7 */
   background-color: white
 }

.settings {
  margin-left: 20px
}

/* #user-settings{
  padding-top:30px
}

#user-settings-form {
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px
} */

#settingstable {
  margin-top: 20px;
  /* margin-right: 800px */
}

#forgotpassword{
  color: black
}

#resourcelinks{
  color: #CF5C36
}

#cancel{
  color: white
}

/* body .container-fluid {
    background-color: white;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    color: #050517;
    margin-top: 30px;
    margin-left: 30px;
    padding-right: 50px;
    padding-left: 30px
} */


.chart-container {
    position: relative;
    display: flex;
    /* height: 20vh; 
    width: 100vw; */
    /* margin-bottom: 50px;
    padding-bottom: 30px */
}

#italics {
  font-style: italic
}

#totalalerts{
  display: flex
}

.alert {
  font-size: small;
  margin: auto
}

a:link {
  color: black; 
  background-color: transparent;
  text-decoration: none;
}

a:visited{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.navbar {
  /* background-color: #D57A66; */
  /* background-color: #FCAA67; */
  background-color: black;
  color: white;
  font-family: "Helvetica", serif;
}

.navbar-brand{
  color: white
}

.flash-msg{
  margin-bottom: 0;
}