{% extends 'base.html' %}
{% block title %}Heat Resilience App - About{% endblock %}

{% block body %}
  
<div class='container-fluid' id="staticpages">

    <div>
        <h1>About</h1>
    </div>

    <div>
        <p>
        This app was made with love as a final project for Hackbright Academy. <br>
        (Sam Miyamoto - Katherine Cohort, January 2022)
        </p>
    </div>

    <div>
        <h2>FAQs</h2>
    <div>

    <div>    
        <b>1) Why make this app?</b>
        <br>
        Heat is increasingly catching people unprepared in places such as the Pacific Northwest 
        where extreme high temperatures are not the norm. <br>
        <br>
        Air conditioning is also not readily available always.
        <br>
        <br>

    </div>
    <br>
    <div> 
        <b>2) Why use the heat index instead of ambient temperature as a measure of thermal comfort? </b>
        <br>
        The heat index is more accurate because it takes humidity into account. Humidity can make the temperature feel hotter.
        <br>
        <br>
        You can find more information in this New York Times article: 
        <a href="https://www.nytimes.com/article/what-is-the-heat-index.html" target="_blank" 
        rel="noopener noreferrer" id="resourcelinks" >What Is the Heat Index, and Why Does It Matter?"</a>
        <br>
        <br>
        Heat indexes for this app are calculated using <a href="https://www.wpc.ncep.noaa.gov/html/heatindex_equation.shtml" target="_blank" 
        rel="noopener noreferrer" id="resourcelinks">this formula</a>.
    </div>
    <br>
    
    <div>
    <b>3) What are the heat index degree (Fahrenheit) thresholds that trigger text alerts?</b>
    <ol>
        <li>80-90</li>
        <li>90-106</li>
        <li>106-129</li>
        <li>129+</li>
      </ol>
    </div>
    </p>

    <div>
        <h3>Image Credits</h3>
        <ul>
            <li>Gradient: Image by <a href="https://unsplash.com/@xcrap?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                target="_blank" 
        rel="noopener noreferrer" id="resourcelinks" >César Couto</a> on <a href="https://unsplash.com/s/photos/gradient?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
            <li>Melted Ice Cream: Photo by <a href="https://unsplash.com/@pawelj?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                target="_blank" 
        rel="noopener noreferrer" id="resourcelinks" >Pawel Janiak</a> on <a href="https://unsplash.com/s/photos/heat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
        </ul>
    <div>

    </div>

</div>
{% endblock %}
