{% extends 'base.html' %}
{% block title %}Heat Resilience App - About{% endblock %}

{% block body %}
  
<div class='container-fluid'>

<div><h1>About</h1></div>
<p>
This app was made as a Hackbright Project (Katherine Cohort - January 2022). 

<div>
<h2>FAQs</h2>

<div>
<b>1. Why make this app? If it's too hot, just get in the shade or turn on your air conditioning.</b>

Increasing heat is catching people unprepared. Many places do not have air conditioning, 
</div>

<div> 
<b>2. Why use the heat index instead of ambient temperature as a measure of heat? </b>

The heat index is more accurate because it takes humidity into account. 

You can find more information in this New York Times article: https://www.nytimes.com/article/what-is-the-heat-index.html

The formula used to calculate the heat index is here:
</div>

<div>
<b>3. What are the temperature levels that trigger alerts?</b>
</div>
</p>
</div>

<p> 
<a href="/dashboard">Go back to the Dashboard.</a>
</p>
</div>
{% endblock %}
