{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block head %}
<!-- React -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

<!-- {# ChartJS #} -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{% endblock %}


{% block body %}
<div class='container-fluid'>

  <div class="row">
    <div class="col-10">
      <h1>Hi, {{fname}}!</h1>
    </div>
    <div class="col-2" id="totalalerts">
      <div>
        <h5>Total received: {{alerts}}</h5>
      </div>
    </div>
  </div>

  <div class="row">
    {% if alerts != 0 %}

    <div class="chart-container"> 
      <canvas id="line-chart"></canvas>
          
      <script src="static/chart.js"></script>
    </div>
       

    {% else %}
      <div>
        <h4>You haven't received any alerts yet.</h4>
      </div>

    {% endif %}

  </div>

    <a href="/alert" class="btn btn-secondary btn-md active" role="button" aria-pressed="true"
        style="margin-top: 10px">For Demo Purposes Only - Send Alert</a>

</div>

  {% endblock %}
