{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block head %}
<!-- React -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

<!-- {# ChartJS #} -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{% endblock %}


{% block body %}
<!-- React component begins -->
  <div 
    id="root">
  </div>
  <script type="text/jsx" src="/static/chart.jsx"></script>

<h1><label>Dashboard</label></h1>

  <div>
    <h2>Hi, {{fname}}!</h2>
  </div>
  <h3>Track your alerts over time:</h3>

  <!-- Chart.js -->
  <div> 
    <canvas id="line-chart"></canvas>
  </div>
  
  {% if alerts != 0 %}
  <script src="static/chart.js"></script>
  {% endif %}

  <div>You have received a total of {{alerts}} alerts.</div>

  <p> 
    <a href="/about">About</a>
   </p>

   <p> 
    <a href="/resilience-resources">Resilience Resources</a>
   </p>
  <p> 
   <a href="/user-settings">Settings</a>
  </p>

  <p> 
    <a href="/logout">Log out</a>
   </p>
{% endblock %}