{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block head %}
<!-- React -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

<!-- {# ChartJS #} -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{% endblock %}


{% block body %}
<div class='container-fluid'>

  <!-- Bootstrap for Nav Bar -->


  <div>
    <h1>
      <label>Dashboard</label>
    </h1>

      <div>
        <h2>Hi, {{fname}}!</h2>
        {% if alerts != 0 %}
        
        <h3>Track your alerts over time:</h3>

        <div class="chart-container"> 
          <canvas id="line-chart"></canvas>
        </div>
          
        <script src="static/chart.js"></script>
        
        <div>
          <h5>You have received a total of {{alerts}} alerts.</h5>
        </div>
        {% else %}

        <h3>You have received no alerts yet.</h3>

      {% endif %}
      <!-- React component begins -->
      <div 
        id="root">
      </div>
      <script type="text/jsx" src="/static/homepage.jsx"></script>
    </div>

    </div>
  {% endblock %}