<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
          crossorigin="anonymous">

        <!-- Custom styles -->
        <link rel="stylesheet" href="/static/styles.css">

      <title>Heat Resilience App</title>
  </head>

  {% for msg in get_flashed_messages() %}
  <div class="alert alert-primary alert-dismissible show" role="alert">
    <p class="flash-msg">
      {{ msg }}
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}

<body>

<div class="container-fluid" id="homepage">
  <div class="row">

    <div class="col-10">
    <h2>Heat Resilience App</h2>
    </div>

    <div class="col-2">
      <div id="loginbutton">
      <button type="button" id="loginbutton" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Log in
        </button>
      </div>
    </div>
  
  </div>
<br>
  <div class="row">
    <p>
      With this app, you can sign up for predictive heat text alerts and also keep track 
      of how many alerts you've received over time. 
      </p>

    <div class="col" id="homepage-form">
    
        <h4 style="padding-top: 15px;">Create an Account</h4>
          <form action="/users" method="POST">
            <div class="mb-2" style="padding-top: 15px;">
              <label for="exampleInputFName1" class="form-label">First Name</label>
              <input type="text" class="form-control" id="exampleInputFName1" aria-describedby="fnameHelp"
              placeholder="Tabitha" required name="fname">
            </div>
      
            <div class="mb-2">
              <label for="exampleInputCity1" class="form-label">City</label>
              <input type="text" class="form-control" id="exampleInputCity1" aria-describedby="cityHelp"
              placeholder="Lima" required name="city">
            </div>
      
            <div class="mb-2">
              <label for="exampleInputCountry1" class="form-label">Country</label>
              <input type="text" class="form-control" id="exampleInputCountry1" aria-describedby="countryHelp"
              placeholder="Peru" required name="country_code">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
      
            <div class="mb-2">
              <label for="exampleInputPhone1" class="form-label">Phone</label>
              <input type="text" class="form-control" id="exampleInputPhone1" aria-describedby="phoneHelp"
                placeholder="555-555-5555" required name="phone" pattern=
                  "^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$">
            </div>
      
            <div class="mb-2">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="example@test.xyz" required name="email">
            </div>
      
            <div class="mb-2">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1"
              required name="password">
            </div>
      
            <div>
              <label>Opt-in for heat alerts: </label>
              <select name="optin">
                <option selected="true" value="Select" disabled>Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </div>
    <!-- </div> -->
  </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Password form - Bootstrap -->
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="loginemail">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="loginpassword">
          </div>
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>

          <a href="/reset-password" id="forgotpassword">Forgot password?</a>

        </form>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->

      </div>
    </div>
  </div>
</body>

 <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
 <script 
 src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
 crossorigin="anonymous">
</script>


</html>