{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block body %}
<script src="static/script.js"></script>

<div class='container-fluid' id="homepage">
  <div>
    <h2>Heat Resilience App</h2>
    <div class="offset-10">
      <button type="button" id="my-thing" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Log in
        </button>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <h4>Welcome!</h4>

        <p>As the planet warms, we can expect to experience more extreme and more frequent heat-related impacts. 
        With this app, you can sign up for predictive heat alerts sent straight to your phone and also keep track 
        of how many alerts you've received over time. Be well!
        </p>

        <h4>Create an Account</h4>
          <form action="/users" method="POST">
            <div class="mb-1">
              <label for="exampleInputFName1" class="form-label">First name</label>
              <input type="text" class="form-control" id="exampleInputFName1" aria-describedby="fnameHelp"
              placeholder="Tabitha" required name="fname">
            </div>
      
            <div class="mb-1">
              <label for="exampleInputCity1" class="form-label">City</label>
              <input type="text" class="form-control" id="exampleInputCity1" aria-describedby="cityHelp"
              placeholder="Lima" required name="city">
            </div>
      
            <div class="mb-1">
              <label for="exampleInputCountry1" class="form-label">Country</label>
              <input type="text" class="form-control" id="exampleInputCountry1" aria-describedby="countryHelp"
              placeholder="Peru" required name="country_code">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
      
            <div class="mb-1">
              <label for="exampleInputPhone1" class="form-label">Phone</label>
              <input type="text" class="form-control" id="exampleInputPhone1" aria-describedby="phoneHelp"
                placeholder="555-555-5555" required name="phone" pattern=
                  "^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$">
            </div>
      
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="example@test.xyz" required name="email">
            </div>
      
            <div class="mb-1">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1"
              required name="password">
            </div>
      
            <div>
              <label>Opt-in for heat alerts: </label>
              <select name="optin">
                <option selected="true" value="Select" disabled>Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
      </div>
    <!-- </div> -->
  </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Password form - Bootstrap -->
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="loginemail">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="loginpassword">
          </div>
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>

          <a href="/reset-password">Forgot password?</a>

        </form>
      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->

      </div>
    </div>
</div>
{% endblock %}