<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
          crossorigin="anonymous">

        <!-- Custom styles -->
        <link rel="stylesheet" href="/static/styles.css">

      <title>Heat Resilience App</title>
  </head>

  {% for msg in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible show" role="alert">
    <p class="flash-msg">
      {{ msg }}
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}

<body>

<div class="container-fluid" id="reset-password">
  <div class="row">
    <div class="col">
      <h2>Heat Resilience App</h2>
    </div>
  
    <div class="row">
      <div class="col">
        <h4 style="padding-top: 15px;">Reset your password</h4>
        <form action="/reset-password" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="resetemail">
            <div id="emailHelp" class="form-text">Use the email you used to sign up.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="resetpassword">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>

          <a href="/" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

</body>

 <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
 <script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
  crossorigin="anonymous">
</script>

</html>