{% extends 'base.html' %}
{% block title %}Heat Resilience App - Resources{% endblock %}

{% block body %}

<div class='container-fluid'>

<h1>Resilience Resources</h1>

<div>
    <h2>Actions </h2>
    By signing up for heat alerts sent straight to your cell phone, you are already improving your 
    resilience to heat! 
    
    <h3>Here are some more ideas:</h3>

    <div>1. Have conversations. Conversations have been shown to increase resilience because they sow seeds for 
    preparedness and action.  
    
    You can increase your personal and community resilience simultaneously by 
    establishing a dialogue with your friends, family, and loved ones about
    extreme climate conditions. 

    Try these conversation starters:
    "Have you noticed that summers have started earlier and have gotten hotter?"
    "How do you feel about the changing climate?"
    "How prepared do you feel? Is there something we can do together?"
    </div>

    <div>
    2. Check out urban cooling centers near you. Cities like Los Angeles and Miami
    are recognizing the impacts of heat. Miami has even hired its first Chief Heat Officer in 2021!

    You can learn more about solutions for urban heat here: https://www.cdc.gov/climateandhealth/docs/UseOfCoolingCenters.pdf
    </div>
    <div>
    3. Understand the impacts of heat. 
  
    Climate Resolve's Rx for Hot Cities: https://www.climateresolve.org/rx-for-hot-cities/
    </div>
</div>

<p> 
 <a href="/dashboard">Go back to the Dashboard.</a>
</p>

</div>
{% endblock %}