{% extends 'base.html' %}
{% block title %}Heat Resilience App - Resources{% endblock %}

{% block body %}
<nav class="navbar navbar-light" style="background-color: #CF5C36;">
    <div class="d-flex" id="nav-bar">
        <a class="navbar-brand mr-auto p-2">Heat Resilience App</a> 
        <a class="nav-link p-2" href="/dashboard">Dashboard</a>
        <a class="nav-link p-2" href="/resilience-resources">Resilience Resources</a>
        <a class="nav-link p-2" href="/about">About</a>
        
    </div>
    <div class="d-flex">
      <a class="nav-link p-2" href="/user-settings">Settings</a>
      <a class="nav-link ml-auto p-2" href="/logout">Log out</a>
    </div>
  </nav>

<div class='container-fluid'>


<h1>Resilience Resources</h1>

<div>
    Actions:
    You can increase your personal and community resilience simultaneously by 
    establishing a dialogue with your friends, family, and loved ones about
    extreme climate conditions.
    
    A link to get you started:
</div>


<p> 
 <a href="/dashboard">Go back to the Dashboard.</a>
</p>

</div>
{% endblock %}