{% extends 'base.html' %}
{% block title %}Heat Resilience App - Resources{% endblock %}

{% block body %}

<div class="container-fluid" id="staticpages">

    <h1>Resilience Resources</h1>

    <div>
        By signing up for text alerts, you're already improving your 
        heat resilience! Cheers!
    </div>
    <br>
    <div>
    <h3>Next Steps</h3>

    <div>
        <b>1. Have conversations. </b>
        <br>
        Conversation and communication <a href="https://serc.carleton.edu/integrate/teaching_materials/themes/societal_justice/communicaterisk.html" target="_blank" 
        rel="noopener noreferrer" id="resourcelinks">increase resilience </a> because they sow seeds for 
        preparedness and action.  
        <br>
        <br>
        Try these conversation starters:
        <div id="italics">
            "Have you noticed that summers have started earlier and have gotten hotter?" <br>
            <br>
            "How do you feel about the changing climate?"<br>
            <br>
            "How prepared do you feel to handle extreme heat? Is there some action we can take together?" <br>
            <br>
        </div>
    </div>
    <div>
    <b>2. Check out urban cooling centers near you. </b>
    <br>
    Cities like Los Angeles and Miami are recognizing the impacts of heat. 
    Miami has even hired its <a href="https://www.miamidade.gov/releases/2021-04-30-mayor-chief-heat-officer.asp" 
    target="_blank" rel="noopener noreferrer" id="resourcelinks"> first Chief Heat Officer</a> in 2021!
    <br>
    You can learn more about solutions for urban heat <a href="https://www.cdc.gov/climateandhealth/docs/UseOfCoolingCenters.pdf" 
    target="_blank" rel="noopener noreferrer" id="resourcelinks"> here</a>.
    </div>
    <br>
    <div>
    <b>3. Understand the impacts of heat.</b>
     <br>   
    Check out the non-profit's Climate Resolve's <a href="https://www.climateresolve.org/rx-for-hot-cities/" target="_blank" 
    rel="noopener noreferrer" id="resourcelinks">Rx for Hot Cities</a>.
    </div>
</div>
</div>
</div>
{% endblock %}