{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block body %}  
<nav class="navbar navbar-light" style="background-color: #CF5C36;">
  <div class="d-flex" id="nav-bar">
      <a class="navbar-brand mr-auto p-2">Heat Resilience App</a> 
      <a class="nav-link p-2" href="/dashboard">Dashboard</a>
      <a class="nav-link p-2" href="/resilience-resources">Resilience Resources</a>
      <a class="nav-link p-2" href="/about">About</a>
      
  </div>
  <div class="d-flex">
    <a class="nav-link p-2" href="/user-settings">Settings</a>
    <a class="nav-link ml-auto p-2" href="/logout">Log out</a>
  </div>
</nav>

  <!-- Update for accessibility -->
  <h2> <label>Settings </label> </h2>
    <div id="settings">

      <li>First Name: {{fname}}</li>
      <li>Last Name: {{lname}}</li>
      <li>Email: {{email}}</li>
      <li>City: {{city}}</li>
      <li>Country: {{country_code}}</li>
      <li>Phone: {{phone}}</li>
      <li>Age: {{age}}</li>
      <li>Ideal Air Temperature: {{ideal_temp}}</li>
      <li>Opted in for Heat Alerts: {{opted_in}}</li>

    </div>

    <div>
      Click <a href="/user-settings-update"> here</a> to update your settings. 
    </div>
    
    <div>
     <a href="/dashboard"> Return to dashboard</a>
    </div>

{% endblock %}