{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block body %}  
  <div class="container-fluid">
    
    <h2> <label>Settings </label> </h2>

    <div>
      <a href="/user-settings-update"> Edit settings</a>
    </div>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Setting</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">First Name</th>
          <td colspan="2">{{fname}}</td>
        </tr>
        <tr>
          <th scope="row">Last Name</th>
          <td colspan="2">{{lname}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td colspan="2">{{email}}</td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td colspan="2">{{city}}</td>
        </tr>
        <tr>
          <th scope="row">Country</th>
          <td colspan="2">{{country_code}}</td>
        </tr>
        <tr>
          <th scope="row">Phone</th>
          <td colspan="2">{{phone}}</td>
        </tr>
        <tr>
          <th scope="row">Age (Years)</th>
          <td colspan="2">{{age}}</td>
        </tr>
        <tr>
          <th scope="row">Ideal Temperature (F)</th>
          <td colspan="2">{{ideal_temp}}</td>
        </tr>
        <tr>
          <th scope="row">Opted in for Heat Alerts</th>
          <td colspan="2">{{opted_in}}</td>
        </tr>
      </tbody>
    </table>


  </div>

{% endblock %}