{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block body %}  

  <!-- Update for accessibility -->
  <h2>Update your user settings here:</h2>
  <form action="/user-settings-update" method="POST">
    <p>
      First Name <input type="text" name="fname" value="{{user.fname}}">
    </p>
    <p>
      Last Name <input type="text" name="lname" value="{{user.lname}}">
    </p>
    <p>
      City <input type="text" name="city" value="{{user.city}}">
    </p>
    <p>
      Country <input type="text" name="country" value="{{user.country_code}}">
    </p>
    <p>
      Phone <input type="text" name="phone" value="{{user.phone}}">
    </p>
    <p>
      Age <input type="text" name="age" value="{{user.age}}">
    </p>
    <p>
      Ideal Air Temperature <input type="text" name="idealtemp" value="{{user.ideal_temp_f}}">
    </p>
    <p>
      <label>Opt in for heat alerts: </label> 
      {% if user.opted_in == True %}

        <input type="checkbox" name="optin" checked="True" value="{{user.opted_in}}">

        {% else %}
        <input type="checkbox" name="optin" checked="False" value="{{user.opted_in}}">

      {% endif %}
    </p>
    
    <p>
      Email <input type="text" name="email" value="{{user.email}}">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <div>
    <a href="/dashboard"> Return to Dashboard</a>
  </div>

{% endblock %}