{% extends 'base.html' %}
{% block title %}Heat Resilience App{% endblock %}

{% block body %}  
<nav class="navbar navbar-light" style="background-color: #CF5C36;">
  <div class="d-flex" id="nav-bar">
      <a class="navbar-brand mr-auto p-2">Heat Resilience App</a> 
      <a class="nav-link p-2" href="/dashboard">Dashboard</a>
      <a class="nav-link p-2" href="/resilience-resources">Resilience Resources</a>
      <a class="nav-link p-2" href="/about">About</a>
      
  </div>
  <div class="d-flex">
    <a class="nav-link p-2" href="/user-settings">Settings</a>
    <a class="nav-link ml-auto p-2" href="/logout">Log out</a>
  </div>
</nav>

  <!-- Update for accessibility -->
  <h2>Update your user settings here:</h2>
  <form action="/user-settings-update" method="POST">
    <p>
      <label>First Name: </label> 
      <input type="text" name="fname" value="{{user.fname}}">
    </p>
    <p>
      <label>Last Name: </label>
      <input type="text" name="lname" value="{{user.lname}}">
    </p>
    <p>
      <label>City: </label>
      <input type="text" name="city" value="{{user.city}}">
    </p>
    <p>
      <label>Country Code: </label> 
      <input type="text" name="country" value="{{user.country_code}}">
    </p>

    <p>
      <label>Phone: </label>
      <input type="text" name="phone" value="{{user.phone}}" pattern=
                  "^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$">
    </p>
    <p>
      <label>Age (years) : </label>
      <input type="number" name="age" placeholder="e.g. 45" value="{{user.age}}">
    </p>
    <p>
      <label>Ideal Air Temperature (F): </label> <input type="number" name="idealtemp" 
            placeholder="e.g. 73" value="{{user.ideal_temp_f}}">
    </p>
    <p>
      <label>Opt in for heat alerts: </label> 
      {% if user.opted_in == None or user.opted_in == "No" %}
                
        <input type="checkbox" name="optin" value="Yes">

      {% else %}

        <input type="checkbox" name="optin" checked="True">

      {% endif %}

    </p>
    
    <p>
      <label>Email: </label>
      <input type="text" name="email" value="{{user.email}}">
    </p>
    <p>
      <label>Password: </label>
      <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <div>
    <a href="/dashboard"> Return to Dashboard</a>
  </div>

{% endblock %}